<% provide(:title, "About") %>

<h1>Our Vision</h1>

To even the playing field for breaking in and transitioning into the industry

<h1>Our Mission</h1>

To build a platform that connects you with a credible network that enhances your professional image.


<h1>Our Philosophy</h1>

<p>
    We believe in! <br>

    Hard-knock Hustle
    Empathy <br>
    Innovation <br>
    Altruism <br>
    Intellectual Humility

</p>
