<% provide(:title, 'Contact') %>

  <h1>We would love to hear from you!</h1> <br>

  <p>
  Please feel free to contact us about our product/give feedback or for career opportunities.
  </p>

  <p>
  Harshitha Gamahewage <br>
  Email:hggamahewage@gmail.com <br>
  Mobile:805-895-5410
  </p>
  <p>
  Gihan Ranasinghe <br>
  Email:gihanran05@gmail.com <br>
  Mobile:805-705-0918
  </p>
