<!-- Carousel
================================================== -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="5000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Welcome to RampDoc</h1>
                    <h3>Build a powerful resume with the help of a peer network</h3>
                </hgroup>
                <%= link_to "Sign up now!", signup_path, class: "btn btn-hero btn-lg" %>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Hassle free resume revision</h1>
                    <h3>Find credible sources to review your resume and enhance your chances in the industry</h3>
                </hgroup>
                <%= link_to "Sign up now!", signup_path, class: "btn btn-hero btn-lg" %>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Demonstrate your intellectual humility</h1>
                    <h3>Make use of your skills and experiences to add value and help accomplish dreams</h3>
                </hgroup>
                <%= link_to "Sign up now!", signup_path, class: "btn btn-hero btn-lg" %>
            </div>
        </div>
    </div>
</div>

<!-- Quotes
================================================== -->

    <div class="container carousel-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
                    <!-- Carousel indicators -->
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                    </ol> -->
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <p>You have to learn the rules of the game. And then you have to play better than anyone else.</p>
                                <small>Albert Einstein</small>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>The essential first step is to think for yourself.</p>
                                <small>Peter Thiel</small>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>When something is important enough, you do it even if the odds are not in your favor.</p>
                                <small>Elon Musk</small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<div class="container-fluid marketing">
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="http://davemorrowphotography.smugmug.com/Bestof/Portfolio/i-9WfNDJx/8/XL/When%20Worlds%20Collide-XL.jpg" style="width:400px;height:400px">
            <h2 align="center">Credible Network</h2>
            <p>Have your resume reviewed by peers with skills, experiences and similar interests in the relevant field.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="http://simslyn.com/wordpress/wp-content/uploads/2013/03/speed_950x633_21177.jpg" style="width:400px;height:400px">
            <h2 align="center">Convenient and quick feedback</h2>
            <p>Cold emailing days are over. Contact people directly to receive resume feedback.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="http://wolfbeachfarms.com/wp-content/uploads/2014/07/Opportunity.jpg" style="width:400px;height:400px">
            <h2 align="center">Increase your chances</h2>
            <p>Avoid rookie mistakes by getting industry insights from a massive focused network.</p>
        </div>
    </div>
</div>




<div class="featurette-wrapper">
    <img class="featurette-image" width="100%" src="http://www.wallpaperup.com/uploads/wallpapers/2013/01/17/29919/3e5cdae51e7db92c011c19ec8148ebdd.jpg">
    <p>Ramp yourself to a sea of opportunities</p>
</div>




<div class="howitworks-wrapper">
    <h1 class="howitworks-heading">Here is how it works!</h1>

    <div class="row">
        <div>
            <img class="howtoimage" src="http://png-1.findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/low_importance_512.png" style="width:250px;height:250px">
        </div>

        <div class="step1">
            <h3>
                Sign up and enter skill tags
            </h3>
            <p>
                Add as many tags as you want that best describe your skills/interests and companies you are interested in
                <br>
                e.g: Financial Analysis, Investment Banking, Valuation, Power Point,  C++, Goldman Sachs, Google, Tesla
            </p>
        </div>
    </div>

    <div class="row">
        <div>
            <img class="howtoimage" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Cloud_upload_font_awesome.svg/512px-Cloud_upload_font_awesome.svg.png" style="width:250px;height:250px">
        </div>

        <div class="step2">
            <h3>
                Upload your resume and select tags
            </h3>
            <p>
                Upload a pdf version of your resume and enter document tags to highlight areas you are seeking expert feedback
                in-skills/interests and companies you are interested in
                <br>
                e.g: Financial Analysis, Investment Banking, Valuation, Power Point,  C++, Goldman Sachs, Google, Tesla
            </p>
        </div>
    </div>


    <div class="row">
        <div>
            <img class="howtoimage" src="http://static.squarespace.com/static/53b041fce4b0dcf59ef43a2e/t/54754ce1e4b0774c7d836434/1416973537153/?format=1000w" style="width:250px;height:250px">
        </div>

        <div class="step3">
            <h3>
                Show love by tipping (Coming soon)
            </h3>
            <p>
                Reward the time and effort of people who are adding value to your resume
            </p>
        </div>
    </div>


    <h1 class="howitworks-ending">Its as simple as that!</h1>


</div>
