    <div class="center jumbotron">
        <img src="assets/background_2.png" alt="">
        <div>
            <h1>Welcome to RampDoc</h1>

            <h2 class="slogan">
              Build a powerful resume with the help of a peer network
            </h2>

            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>


<div class="quote">
    "Coming together is a beginning. Keeping together is progress. Working together is success." -Henry Ford
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="marketing">
    <h2>Hassle free resume revision by a network of peers</h2>
        Find credible sources to review your resume and enhance your chances in the industry

    <br>

    <h2>Demonstrate your intellectual humility</h2>
        Make use of your skills and experiences to add value and help accomplish dreams

</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="span4">
            <img class="img-circle" data-src="http://placehold.it/140/">
            <h2 align="center">Credible Network</h2>
            <p>Have your resume reviewed by peers with skills, experiences and similar interests in the relevant field.</p>
        </div>

        <div class="span4">
            <img class="img-circle" data-src="http://placehold.it/140/">
            <h2 align="center">Convenient and quick feedback</h2>
            <p>Cold emailing days are over. Contact people directly to receive resume feedback.</p>
        </div><!-- /.span4 -->

        <div class="span4">
            <img class="img-circle" data-src="http://placehold.it/140/">
            <h2 align="center">Increase your chances</h2>
            <p>Avoid rookie mistakes by getting industry insights from a massive focused network.</p>
        </div>

    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image" width="auto" src="assets/background_3.jpg">
        <h2 class="featurette-heading">Ramp yourself to a sea of opportunities!<span class="muted"></span></h2>

    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <h2 class="featurette-heading"> <h1>How it works!</h1> <span class="muted"></span></h2>

        <p>
            <h2>Sign up and enter skill tags</h2>
            Add as many tags as you want that best describe your skills/interests and companies you are interested in
            e.g: Financial Analysis, Investment Banking, Valuation, Power Point,  C++, Goldman Sachs, Google, Tesla
        </p>

        <p>
            <h2>Upload your resume and select tags</h2>
            Upload a pdf version of your resume and enter document tags to highlight areas you are seeking expert feedback
            in-skills/interests and companies you are interested in

            e.g: Financial Analysis, Investment Banking, Valuation, Power Point,  C++, Goldman Sachs, Google, Tesla
        </p>

        <p>
            <h2>Search peers by relevant tags and invite them to review your resume</h2>
            Invite peers with similar skills/ interests/company tags to start a helpful discussion about your resume
        </p>

        <p>
            <h2>Show love by tipping ( Coming soon)</h2>
            Reward the time and effort of people who are adding value to your resume

            Simple as that!!
        </p>

    </div>
